
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post">
        <label for="Total">Total:</label><br />
        <input type="text" name="Total" /><br />
        <label for="First">First Payment:</label><br />
        <input type="text" name="First" /><br />
        <label for="Years">Years:</label><br />
        <input type="text" name="Years" /><br />
        <input type="submit" value="Calculate" />
    </form>
</body>
</html>
